* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.App {
  display: grid;
  justify-content: center;
  background: linear-gradient(to bottom right, #17212b, #322f52);
  min-height: 100vh;
  color: #fff;
}
